@import "../../constant/style/common.scss";
@import "../../constant/style/reset.scss";

#message-input-container{
    width: 85%;
    height: 35px;
    padding-left: 5px;
}
#message {
    font-family: $font-family;
    padding: 5px;
    width: 100%;
    margin: 0 5px;
    border: 1px solid $border;
    border-radius: 5px;
    &:focus {
        border: 1px solid $border-focus;
        box-shadow: 0px 0px 0px 1.5px $box-shadow;
    }
}
