@import "../constant/style/common.scss";
@import "../constant/style/reset.scss";

#chat-section{
    position: absolute;
    top: 450px;
    right: 50px;
    width: 350px;
    height: 350px;
    border: 1px solid black;
    border-radius: 15px;
}