@import "../../constant/style/common.scss";
@import "../../constant/style/reset.scss";

#message-input {
    margin-top: 14px;
    display: flex;
    align-items: baseline;
    height: 20%;
    width: 100%;
}