@import "../../constant/style/common.scss";
@import "../../constant/style/reset.scss";

#connect-button{
    width: 100%;
    height: 90%;
    background: none;
    color: $green;
    font-style: bold;
    border: 2px solid $green;
    border-radius: 15px;
    cursor: pointer;
}