@import "../../constant/style/common.scss";
@import "../../constant/style/reset.scss";

#send-button{
    margin: 0 10px;
    width: 15%;
    height: 30px;
    background: none;
    color: $green;
    font-style: bold;
    border: 2px solid $green;
    border-radius: 15px;
    cursor: pointer;
}
